<div class="row justify-content-center">
  <div class="col col-sm-3">
    <form action="/login" method="post">

        <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
            <input type="text" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" placeholder="user@example.org" aria-label="User email" value="{{ user.email }}">
            {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="User password">
            <button class="btn btn-outline-secondary password-toggle" type="button"><i class="fa fa-eye-slash fa-fw"></i></button>
        </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
