<h1  class="text-center">You have been successfully registered</h1>
<h2  class="text-center">All done {{currentUser.username}}, thanks for joining us</h2>
<img src="../../img/nyan-cat.gif" alt="Cat jumping"/>