<div class="text-center">
    <h1  class="text-center">You have been successfully registered</h1>
    <h2  class="text-center">All done {{currentUser.username}}, thanks for joining us</h2>
    <img src="../../images/nyan-cat.gif" alt="Cat jumping"/>
    <a href="/" class="btn btn-primary mb-3 m-4 tex-center">HOME</a>
</div>