body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #20bf55; 
  background: linear-gradient(90deg, #20bf55 0%, #01baef 100%);
}

a {
  color: #00B7FF;
}

.input-group-text{
  color: #00B7FF;
  background-color: #fff;
}

h1{
  font-size: 6rem;
  color: #fff;
  text-align: center;
}

.btn-primary{
  background-color: #00B7FF;
}